
<div class="container">  

  <div class="row">      
    
    <div class="col-lg-12">
      
      <h2>{{vm.currentUser.agency.name}} <small>Dashboard </small></h2>      

      <hr>
      <button type="button" class="btn btn-default" ui-sref="agency.new-entry">
        <small><i class="glyphicon glyphicon-pencil"></i></small>         
        New Entry
      </button>    
      
      <hr>

      <list-claims claims="vm.pendingClaims" options="vm.pendingClaimsListOptions"></list-claims>
      
      <hr>

      <button type="button" class="btn btn-default" disabled ui-sref="agency.new-entry">
        <small><i class="glyphicon glyphicon-search"></i></small>         
        Search for a Claim
      </button>      

      <br><br>

      <list-claims claims="vm.approvedClaims" options="vm.approvedClaimsListOptions"></list-claims>
      
    </div>

  </div>

</div>


