.add-person-notice {
  height: 30px;
  overflow: hidden;
}

.new-entry-container {
  .typeahead-loading {
    position: absolute;
    top: 35px;
    left: -5px;
  }
  .loading-claims {
    position: relative;
    top: -30px;
    left: -20px;
  }
}



.form-group.claim-peril,
.form-group.claim-status {
  max-width: 200px;
}