
<div class="container new-entry-container">

  <div class="row">
    <div class="col-lg-12">
      <!-- <small><button ui-sref="agency.dashboard" confirm="Cancel new entry?">&lt; back</button></small> -->
      <h2>New Entry</h2><hr>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-12">

      <form class="form search-person" name="searchForm">
        <div class="form-group">
          <label>Search Name</label>
          <input type="text" ng-model="searchName" placeholder="Name" uib-typeahead="person as person.firstname+' '+person.middlename+' '+person.lastname for person in vm.searchPerson($viewValue)" typeahead-wait-ms="500" typeahead-min-length="2" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control name" typeahead-on-select="vm.onSelectName($model)">
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh typeahead-loading spinning"></i>
        </div>
      </form>

      <div class="add-person-notice">
        <p ng-show="noResults" class="no-results">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </p>

        <p ng-show="vm.addPersonFlag && !noResults">
          <strong>or add new person</strong>
        </p>
        <p ng-show="!vm.addPersonFlag && !noResults">
          <span>or &nbsp;</span><button class="btn btn-sm btn-default" confirm="Clear selection?" ng-click="vm.addPersonFlag = true; vm.person = null; searchName = null">Add New Person</button>
        </p>
      </div>

    </div>
  </div>
  <div class="row">

    <div class="col-lg-6">
      <hr><a id="start-input"></a>
      <h3>Person Info</h3>
      <form class="form add-person" name='vm.addPersonForm'>
        <div class="form-group" ng-class="{ 'has-error': vm.addPersonForm.firstname.$touched && vm.addPersonForm.firstname.$invalid }">
          <label>First Name</label>
          <input class="form-control" type="text" name="firstname"
            required
            ng-pattern="vm.validationPatterns.name"
            ng-model="vm.person.firstname" ng-disabled="!vm.addPersonFlag && vm.selectNameFlag && !noResults"></input>
          <div ng-messages="vm.addPersonForm.firstname.$error" ng-show="vm.addPersonForm.firstname.$touched" class="ng-validation-messages">
            <p ng-message="pattern">Invalid Name</p>            
            <p ng-message="required">Required Field</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': vm.addPersonForm.middlename.$touched && vm.addPersonForm.middlename.$invalid }">
          <label>Middle Name</label>
          <input class="form-control" type="text" name="middlename"
            required
            ng-pattern="vm.validationPatterns.name"
            ng-model="vm.person.middlename" ng-disabled="!vm.addPersonFlag && vm.selectNameFlag && !noResults"></input>
          <div ng-messages="vm.addPersonForm.middlename.$error" ng-show="vm.addPersonForm.middlename.$touched" class="ng-validation-messages">
            <p ng-message="pattern">Invalid Name</p>            
            <p ng-message="required">Required Field</p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': vm.addPersonForm.lastname.$touched && vm.addPersonForm.lastname.$invalid }">
          <label>Last Name</label>
          <input class="form-control" type="text" name="lastname"
            required
            ng-pattern="vm.validationPatterns.name"
            ng-model="vm.person.lastname" ng-disabled="!vm.addPersonFlag && vm.selectNameFlag && !noResults"></input>
          <div ng-messages="vm.addPersonForm.lastname.$error" ng-show="vm.addPersonForm.lastname.$touched" class="ng-validation-messages">
            <p ng-message="pattern">Invalid Name</p>            
            <p ng-message="required">Required Field</p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': vm.addPersonForm.birthdate.$touched && vm.addPersonForm.birthdate.$invalid }">
          <label>Birthdate</label><!-- <small><i>&nbsp;&nbsp;(02/14/2016) mm-dd-yyyy</i></small> -->
          <div class="input-group">
            <input type="text" class="form-control date"
            name="birthdate"
            uib-datepicker-popup="MMMM-d-yyyy"
            ng-model="vm.person.birthdate"            
            datepicker-options="vm.dateOptions.birthdate" show-button-bar="false"
            is-open="vm.birthdatepopupopened" close-text="Close"
            ng-required="true"            
            ng-disabled="!vm.addPersonFlag && vm.selectNameFlag && !noResults"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.birthdatepopupopened = true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          <div ng-messages="vm.addPersonForm.birthdate.$error" ng-show="vm.addPersonForm.birthdate.$touched" class="ng-validation-messages">
            <p ng-message="date">Invalid Date</p>
            <p ng-message="required">Required Field</p>
          </div>
        </div>
      </form>
      <hr>
      <div class="person-other-claims" ng-show="!vm.addPersonFlag && vm.selectNameFlag && !noResults">
        <h3>Past Claims</h3>

        <i ng-show="vm.loadingClaims" class="glyphicon glyphicon-refresh spinning loading-claims"></i>

        <div class="claim" ng-repeat="claim in vm.person.claims">
          <h4>{{$index+1}}.)</h4>
          <div class="form-group">
            <label>Status</label>
            <p>{{claim.status}}</p>
          </div>
          <div class="form-group">
            <label>Date Filed</label>
            <p>{{claim.filedate | date:'mediumDate'}}</p>
          </div>
          <div class="form-group">
            <label>Claim Status</label>
            <p>{{claim.claimstatus}}</p>
          </div>
          <div class="form-group">
            <label>Peril</label>
            <p>{{claim.peril}}</p>
          </div>
          <div class="form-group">
            <label>Loss Filed</label>
            <p>{{claim.lossdate | date:'mediumDate'}}</p>
          </div>
          <div class="form-group">
            <label>Country</label>
            <p>{{claim.country}}</p>
          </div>
          <div class="form-group">
            <label>Claim Amount</label>
            <p>{{claim.claimamount | currency:claim.claimcurrency+' '}}</p>
          </div>
          <div class="form-group">
            <label>Paid Amount</label>
            <p>{{claim.paidamountphp | currency: 'PHP '}}</p>
            <p>{{claim.paidamountusd | currency: 'USD '}}</p>
          </div>
          <div class="form-group">
            <label>Description</label>
            <p>{{claim.description}}</p>
          </div>
          <div class="form-group">
            <label>Remarks</label>
            <p>{{claim.remarks}}</p>
          </div>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <hr>
      <h3>New Claim</h3>

      <form class="form claim" name="vm.addClaimForm">
        <div class="form-group claim-status" ng-class="{ 'has-error': vm.addClaimForm.status.$touched && vm.addClaimForm.status.$invalid }">
          <label>Claim Status</label>
          <select class="form-control" name="status" required ng-options="status as status for status in vm.claimStatuses" ng-model="vm.claim.claimstatus"></select>
        </div>
        <div class="form-group claim-location" ng-class="{ 'has-error': vm.addClaimForm.country.$touched && vm.addClaimForm.country.$invalid }">
          <label>Country</label>
          <select class="form-control" name="country" required ng-options="country.name as country.name for country in vm.countries" ng-model="vm.claim.country"></select>
          {{vm.claim.country.name}}
        </div>
        <div class="form-group claim-location" ng-class="{ 'has-error': vm.addClaimForm.city.$touched && vm.addClaimForm.city.$invalid }">
          <label>City</label>
          <select class="form-control" name="city" required ng-options="city as city for city in vm.cities[vm.claim.country]" ng-model="vm.claim.city"></select>
        </div>
        <div class="form-group" ng-class="{ 'has-error': vm.addClaimForm.filedate.$touched && vm.addClaimForm.filedate.$invalid }">
          <label>Date Filed</label><!-- <small><i>&nbsp;&nbsp;(02/14/2016)</i></small> -->
          <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" 
            name="filedate"
            ng-model="vm.claim.filedate" 
            datepicker-options="vm.dateOptions.claimFileDate" is-open="vm.filedatepopupopened" close-text="Close" show-button-bar="false"
            ng-required="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.filedatepopupopened = true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          <div ng-messages="vm.addPersonForm.filedate.$error" ng-show="vm.addPersonForm.filedate.$touched" class="ng-validation-messages">
            <p ng-message="date">Invalid Date</p>
            <p ng-message="required">Required Field</p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': vm.addClaimForm.lossdate.$touched && vm.addClaimForm.lossdate.$invalid }">
          <label>Loss Filed</label><!-- <small><i>&nbsp;&nbsp;(02/14/2016)</i></small> -->
          <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" 
            name="lossdate"
            ng-model="vm.claim.lossdate"             
            datepicker-options="vm.dateOptions.claimLossDate" is-open="vm.lossdatepopupopened" close-text="Close" show-button-bar="false"
            ng-required="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.lossdatepopupopened = true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          <div ng-messages="vm.addPersonForm.lossdate.$error" ng-show="vm.addPersonForm.lossdate.$touched" class="ng-validation-messages">
            <p ng-message="date">Invalid Date</p>
            <p ng-message="required">Required Field</p>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="vm.claim.description"></textarea>
        </div>


        <div class="form-group claim-peril" ng-class="{ 'has-error': vm.addClaimForm.peril.$touched && vm.addClaimForm.peril.$invalid }">
          <label>Peril</label>
          <select class="form-control" name="peril" required ng-options="peril as peril for peril in vm.peril" ng-model="vm.claim.peril"></select>
        </div>


        <div class="form-group claim-currency" ng-class="{ 'has-error': vm.addClaimForm.claimCurrency.$touched && vm.addClaimForm.claimCurrency.$invalid }">
          <label>Claim Currency</label>
          <select class="form-control" name="claimCurrency" required ng-options="key as key + ' ' + value for (key, value) in vm.currencies" ng-model="vm.claim.claimcurrency"></select>
        </div>
        <div class="form-group">
          <label>Claim Amount</label>
          <div class="form-inline">
            <div class="form-group claim-amount" ng-class="{ 'has-error': vm.addClaimForm.claimAmount.$touched && vm.addClaimForm.claimAmount.$invalid }">
              <span>{{vm.claim.claimcurrency ? vm.claim.claimcurrency : '---'}} &nbsp;&nbsp;</span>
              <input class="form-control" type="number" name="claimAmount" 
              required
              ng-pattern="vm.validationPatterns.amount"
              min="0"
              ng-model="vm.claim.claimamount"></input>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Paid Amount (USD)</label>
          <div class="form-inline">
            <div class="form-group claim-amount" ng-class="{ 'has-error': vm.addClaimForm.paidAmountUsd.$touched && vm.addClaimForm.paidAmountUsd.$invalid }">
              <span>USD &nbsp;&nbsp;</span><input class="form-control" type="number" name="paidAmountUsd" 
              required
              ng-pattern="vm.validationPatterns.amount"
              min="0"
              ng-model="vm.claim.paidamountusd"></input>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Paid Amount (PHP)</label>
          <div class="form-inline">
            <div class="form-group claim-amount" ng-class="{ 'has-error': vm.addClaimForm.paidAmountPhp.$touched && vm.addClaimForm.paidAmountPhp.$invalid }">
              <span>PHP &nbsp;&nbsp;</span><input class="form-control" type="number" name="paidAmountPhp" 
              required 
              ng-pattern="vm.validationPatterns.amount"
              min="0" 
              ng-model="vm.claim.paidamountphp"></input>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Remarks</label>
          <textarea class="form-control" ng-model="vm.claim.remarks"></textarea>
        </div>
        <input type="hidden" ng-model="vm.claim.agency" name="agency">
      </form>
      <br>
      <button class="btn-primary btn btn-lg" ng-click="vm.onSubmit()" ng-disabled="vm.submitting">
        <small><i class="glyphicon glyphicon-floppy-open"></i></small>&nbsp;
        Save
      </button>
    </div>

  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>


