// body{
//   background: #fff;
//   padding:0px 0px 50px;
// }

// body,a,ul,li,a,div,h1,h2,h3,h4,p,input{
//   transition:all 0.2s ease;
// }

/* font styles */
  
div.landing {

  font-family: 'Open Sans Condensed', sans-serif;

  h1,h2,h3{
    font-weight:bold;
  }

  h1,h2,h3,th{
    color:#111;
  }

  h1 {
      font-size: 24px;
      margin: 30px 0px 20px;
      border-bottom: 1px solid #333;
      padding-bottom: 20px;
  }

    video#bgvid { 
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url(/images/landing/CG-BG.jpg) no-repeat;
        background-size: cover; 
    }

  p.brand-name {
      font-size: 24px;
      background: #111;
      color: #fff;
      text-align: center;
      margin: 0px;
      padding: 8px 0px;
      font-weight: bold !important;
  }

  .branding-block p{
    font-size:13px;
    line-height:125%;
    text-align:left;
  }

  .filter-options {
      padding: 10px 0px;
      background: #444;
  }

  .filter-options h3 {
      margin: 10px 0px 0px;
      font-size: 16px;
       color: #fff;
  }

  h4.date-today {
    font-size: 13px;
    line-height: 180%;
    color: #111;
  }

  h4.date-today span {
      font-weight: bold;
      padding: 5px 3px;
  }

  .header {
        background: #fff;
        margin: 0px;
        padding: 0px 5px;
        border-bottom: 5px solid #ffde64;
    }

  .main-logo{
    font-weight:bolder;
    /* letter-spacing: 2px; */
    color: #fff;
    border:none;
    margin:10px 0px 10px;
    padding:10px 0px;
    float: left;
    font-weight: 100;
    letter-spacing: 8px;
    font-size: 16px;
  }

    .lander-block {
        /* background: rgba(255,255,255,0.8); */
        padding: 50px 50px 30px;
        margin: 10px 0px 0px;
        text-align: center;
        /* box-shadow: 0px 50px 120px 20px rgba(0,0,0,0.6); */
        /* border: 1px solid rgba(255,255,255,0.3); */
        /* border-radius: 0px 0px 20px 20px; */
        text-shadow: 0px 1px 10px rgba(0,0,0,0.3);
        /* border-top: 10px solid #fff; */
        border-radius: 5px;
        /* border: 10px solid #fff; */
    }

    .lander-block h2{
        color: #ffde64;
        font-size: 52px;
        margin: 0px 0px 20px;
        letter-spacing:0px;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .lander-block h2:after{
      content:'';
      margin:0px 33% 20px;
      display:block;
      padding:0px 0px 20px;
      border-bottom:5px solid #fff;
      width:33%;
      
    }

    .lander-block h3{
      color:#ddd;
      font-weight:100;
      letter-spacing:0px;
      line-height:130%
    }

    .lander-block p{
        color: #ddd;
        font-size:21px;
        font-weight:100;
        line-height: 125%;
        margin: 10px 0px 20px;
    }

    .lander-block button{
      background: #111;
      border:none;
      font-size:21px;
      /* font-size:15px; */
      border-radius:30px;
      padding: 10px 25px;
      font-weight: bold;
      box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
      border: none;
      text-shadow: 0px 1px 0px rgba(255,255,255,0.2) !important;
      color:#ffde64 !important;
      font-size: 13px;
      margin: 2px 5px;
    }

    .lander-block input[type="text"]{
      
        width: 100%;

        margin: 0px 0px 20px;

        float: left;

        font-size: 24px;

        border-radius: 3px;

        border: none;

        padding: 5px 20px;
    }

    .main-intro {
        background: #111;
        /* margin: 50px 0px 0px; */
        box-shadow: 0px 50px 80px 1px rgba(0,0,0,0.9) inset;
    }

    p.intro-copy{
        font-size: 25px !important;
        color:#fff !important;
        margin:30px 0px;
        line-height: 125%;
        border-bottom: 5px solid #fff;
        padding-bottom: 30px;
        text-transform: uppercase;
    }

    .main-intro p{
      color:#ccc;
      font-size: 21px;
    }

    .block{
        padding: 60px 0px 100px;
        float: left;
        width: 100%;
    }

.feature-section {
    padding: 40px 0px;
    margin: 20px 0px;
    float: left;
    width: 100%;
}

.feature-section > div{
    margin:30px 0px 0px;
    padding:20px 40px;
}

.feature-section > div > img   {
    float:left;
    width:100%;
    padding:3px;
    margin:0px 0px 30px;
    background:#eee;
    box-shadow: 5px 5px 0px 0px rgba(50,50,50,0.1);
}

    .main-features{
      background:#fff;
    }

    .guarantee{
        font-size: 15px !important;
        color: #333 !important;
        margin: 20px 0px 20px !important;
        display: inline-block;
    }

    .guarantee .fa{
      color: #000;
    }

    .feature-label::after{
      content:'';
      border-bottom: 3px solid #333;
      display:block;
      margin: 20px 33%;
      width: 33%;
    }

    .feature p {
        line-height: 115%;
        font-weight: 100;
        /* text-align: justify; */
        color: #666;
    }

.feature .fa {
    font-size: 52px;
    color: #333;
    text-shadow: 0px 2px 0px rgba(255,255,255,0.4);
    /* text-align: center; */
    width: 100%;
    margin: 40px 0px 0px;
    padding: 50px 10px;
    background: #ffde64;
    margin: 0px auto;
}

p.feature-intro {
    color: #111;
    font-size: 24px;
    /* font-style: italic; */
    margin: 20px 0px 0px;
    padding: 0px 0px 30px;
}

h3.feature-label {
    /* text-align: left; */
    width: 100%;
}

.feature {
    text-align: center;
}

  p{
    color: #666;
    font-weight:400 !important;
    font-size:18px;
  }

  .search-btn {
      background: #333;
      color: #fff;
      border: 1px solid #333;
      font-weight: bold;
      transition:all 0.2s ease;
  }

  .pager a{
      color:#111;
  }

  a.active {
      color: #fff;
      background: #333 !important;
      border-radius: 30px !important;
      border: none !important;
  }

  .sidebar p {
    font-weight: normal !important;
    color: #111;
    font-size: 12px;
  }

  p.intro-text {
    float: left;
    width: 100%;
    margin: 10px 0px;
  }

  p.intro-text {
    float: left;
    width: 100%;
    margin: 10px 0px;
  }
  
  .maincontent p {
    font-size: 15px;
    line-height: 180%;
    color: #333;
  }




/* container styles */


  ul.item-list{
      padding:10px;
      margin:10px 0px 10px 15px;
  }

  ul.item-list li{
      padding:3px 5px;
      margin:3px 0px;
      border-bottom:1px dotted #ddd
  }

  ul.item-list li:last-child{
      border-bottom:none;
  }

  ul.item-list li a{
      color:#111;
      text-transform:uppercase;
  }

  .maincontent {
      background: #FDFDFD;
      padding: 65px 40px 150px;
      box-shadow: -15px 0px 0px 0px rgba(0,0,0,.05);
  }

  
  h3.block-header {
    font-style: italic;
  }



.lander-block input[type="text"] {
    border: 2px solid #111;
}

.main-intro {
    border-bottom: 10px solid #ffde64 !important;
    /* padding-top: 0px; */
}


ul.share {
    float: right;
    padding: 0px;
    margin: 10px 0px;
}

ul.share li{
    list-style:none;
    padding:0px;
    margin:0px 10px 0px 0px;
    float:left;
    border-radius:50px;
    overflow:hidden;
    color:#fff;
}

ul.share li:first-child {
    border-radius: 0px;
    
}

ul.share p{
    font-size: 13px !important;
    padding:12px 0px;
    color:#fff;
}



.cta-block {
    background: #eee;
    position: relative;
    z-index: 999;
}

.cta-block h3, h2.block-header{
    font-size: 52px;
    color: #111;
    font-weight: 100;
    text-transform: uppercase;
}

.cta-block h4{
    font-size: 26px;
    color: #666;
    text-transform: uppercase;
    margin: 0px 0px 30px;
}


hr {
    border-color: rgba(0,0,0,0.5);
}

.join {
    background: #ffde64;
    text-align: center;
    padding: 30px 0px 40px;
}

.top-block.block {
    padding-top: 10px;
    padding-bottom: 15%;
}

.big-cta{
    border:4px solid #111;
    padding:15px 30px;
    color: #fff;
    font-weight:bold;
    font-size: 21px;
    border-radius:10px;
    background: #111;
    letter-spacing: 1px;
    transition:all 0.2s ease;
    box-shadow:0px 2px 0px 0px rgba(255,255,255,0.5);
}

.big-cta:hover{
  color:#fff;
  text-decoration:none;
  font-size:24px;
}

.feature-list{
    width: 100%;
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    color: #ccc;
}

.feature-list li{
    margin:5px 0px;
    padding:3px 0px;
}

p.feature-description {
    /* text-transform: uppercase; */
    font-size: 15px;
    line-height: 125%;
}

h3.feature-name {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: 0px 0px 20px;
}

.double {
    height: 5px;
    display: block;
    float: left;
    width: 100%;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    background: none;
    margin: 90px 0px 0px;
}

@media(min-width:992px){
    .feature-list li{
        width:50%;
        float:left;
        color: #333;
    }
}


/* media queries */

  @media(max-width:1000px){
    .numbering p {
      font-size: 21px;
    }

    .lander-block h2{
      font-size: 48px;
    }

    .lander-block h3{
      font-size: 21px;
    }

    p{
      font-size:15px !important;
    }

    .feature-section > div{
      margin:10px 0px 0px;
    }
  }

  @media(max-width:768px){
        
        .feature p {
            margin-bottom: 50px;
        }
        
        .big-cta {
            border: 4px solid #111;
            padding: 15px 30px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            border-radius: 10px;
            background: #111;
            /* letter-spacing: 1px; */
            transition: all 0.2s ease;
            box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.5);
        }
        
        .big-cta:hover{
            font-size:16px;
        }

        .main-logo{
            width:100%;
            text-align:center;
            display:inline-block;
            padding:10px 20px;
            background:#111;
        }
        
        body {
            padding: 0px;
        }
        
    .filter-options button.dropdown-toggle {
        float: left;
        width: 100%;
        text-align: left;
        margin: 5px 0px 0px;
    }
        
        html {
             background: url(/videos/Snapshots/PC-Typing.jpg) #000 no-repeat top center fixed;
        }
        #bgvid {
            display: none;
        }
  } 

  @media(max-width:992px){
    p {
        font-size: 18px;
        line-height: 120%;
    }
  }

  @media(min-width:992px){
    tbody td{
      font-size:14px;
    }

  }

  @media(min-width:1200px){
    .branding-block{
      position:fixed;
    }

    .branding-block.pdf-details-column{
      position:relative;
    }

    ul.releases-weekly li{
      width:20%;
    }
  }

  @media(max-width:400px){
    ul.judge-list li {
      width: 97%;
      padding: 100% 0px 20px 0px;
    }
  }

}
