
<div class="landing">
  <video autoplay loop poster="assets/videos/Snapshots/PC-Typing.jpg" id="bgvid">
    <source src="assets/videos/MP4/PC-Typing.mp4" type="video/mp4">
    <source src="assets/videos/WEBM/PC-Typing.webm" type="video/webm">
  </video>

      
  <div class="top-block block">
    <div class="container-fluid text-center">
       <div class="col-xs-12 col-sm-4">
            <h1 class="main-logo">
                BLACK BOOK
            </h1>
            </div>
            <div class="col-xs-12 col-sm-8 hidden-xs">
                <ul class="share">
                    <li><p>SHARE</p></li>
                    <li><a href="#"><img src="assets/images/landing/social-facebook.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/landing/social-twitter.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/landing/social-gplus.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
           <div class="lander-block">
               <h2>
                  Don't let the bad eggs ruin the rest of the job pool.
               </h2>
               <h3>Gain access to our proprietary manpower app that lets you find the right person for the job, quickly, easily and most importantly, worry-free.</h3>
            </div>
        </div>
    </div>
  </div>
    
  <div class="main-intro block">
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <p class="intro-copy">
                    Nunc cursus ornare nulla sit amet malesuada. Integer at feugiat turpis. Curabitur feugiat sed nisl eget volutpat. In dignissim consequat sapien ac accumsan. Nam eget cursus elit.
                </p>
                <p>
                     Aenean neque lorem, suscipit sit amet nibh quis, gravida pellentesque orci. Donec sagittis purus non venenatis laoreet. Nam dapibus ullamcorper rhoncus. Vivamus commodo sapien sapien, ut vulputate ante venenatis at. Curabitur volutpat magna a viverra commodo. Donec mattis lorem et odio hendrerit placerat. Donec ullamcorper felis diam, sed malesuada tellus consectetur sit amet. Ut euismod scelerisque urna, eu faucibus nibh. Integer et dictum ligula. Donec ut nisl ipsum.
                </p>
            </div>
        </div>
           
  </div>

  <div class="block join">
    <div class="container-fluid">
        <a href="#" class="big-cta">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
             CHECK OUT PRICING AND PACKAGES
        </a>
   </div>
  </div>

  <div class="main-features block">
   <div class="container">
        <div class="text-center why">
            <br><br>
            <h2 class="block-header">HOW CAN OUR SYSTEM HELP YOU?</h2>

            <p>
            Praesent eleifend lacinia eros at malesuada. Nunc a auctor velit. 
            Pellentesque venenatis pulvinar nisi, et commodo ante volutpat ut. Nullam mollis egestas nulla, id molestie massa fringilla ac.
           </p>
           <br><br>
        </div>
    
        <div class="col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4 feature">
           <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <h3 class="feature-label">
                EASY<br>SORTING
            </h3>
            <p>
                Donec nec sapien fermentum, convallis ligula in, congue lorem. Morbi nulla turpis.
            </p>
        </div>

        <div class="col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4 feature">
           <i class="fa fa-bell" aria-hidden="true"></i>
            <h3 class="feature-label">
                LIVE<br>UPDATES
            </h3>
            <p>
                Donec nec sapien fermentum, convallis ligula in, congue lorem. Morbi nulla turpis.
            </p>
        </div>

        <div class="col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4 feature">
           <i class="fa fa-laptop" aria-hidden="true"></i>
            <h3 class="feature-label">
                ONE APP<br>FOR ALL
            </h3>
            <p>
                Donec nec sapien fermentum, convallis ligula in, congue lorem. Morbi nulla turpis.
            </p>
        </div>
    
    <hr class="double">
   
    <div class="feature-section">
       <div class="col-sm-6 col-md-4">
          <h3 class="feature-name">
               Feature Name Here
           </h3>
           <img src="assets/images/landing/slide-1.jpg" alt="" class="feature-ss">
           
           <p class="feature-description">
               Sed vehicula, ex id euismod porta, neque felis ultrices risus, vitae venenatis leo purus eget est.
           </p>
       </div>
       
       <div class="col-sm-6 col-md-4">
          <h3 class="feature-name">
               Feature Name Here
           </h3>
           <img src="assets/images/landing/slide-1.jpg" alt="" class="feature-ss">
           
           <p class="feature-description">
               Sed vehicula, ex id euismod porta, neque felis ultrices risus, vitae venenatis leo purus eget est.
           </p>
       </div>
       
       <div class="col-sm-6 col-md-4">
          <h3 class="feature-name">
               Feature Name Here
           </h3>
           <img src="assets/images/landing/slide-1.jpg" alt="" class="feature-ss">
           
           <p class="feature-description">
               Sed vehicula, ex id euismod porta, neque felis ultrices risus, vitae venenatis leo purus eget est.
           </p>
       </div>
       
       <div class="col-sm-6 col-md-4">
          <h3 class="feature-name">
               Feature Name Here
           </h3>
           <img src="assets/images/landing/slide-1.jpg" alt="" class="feature-ss">
           
           <p class="feature-description">
               Sed vehicula, ex id euismod porta, neque felis ultrices risus, vitae venenatis leo purus eget est.
           </p>
       </div>
       
       <div class="col-sm-6 col-md-4">
          <h3 class="feature-name">
               Feature Name Here
           </h3>
           <img src="assets/images/landing/slide-1.jpg" alt="" class="feature-ss">
           
           <p class="feature-description">
               Sed vehicula, ex id euismod porta, neque felis ultrices risus, vitae venenatis leo purus eget est.
           </p>
       </div>
       
       <div class="col-sm-6 col-md-4">
          <h3 class="feature-name">
               Feature Name Here
           </h3>
           <img src="assets/images/landing/slide-1.jpg" alt="" class="feature-ss">
           
           <p class="feature-description">
               Sed vehicula, ex id euismod porta, neque felis ultrices risus, vitae venenatis leo purus eget est.
           </p>
       </div>
       
    </div>
   </div>
    
   

    
  </div> <!-- end main features -->
               

  <div class="block join">
    <div class="container-fluid">
        <a href="#" class="big-cta">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
             CHECK OUT PRICING AND PACKAGES
        </a>
   </div>
  </div>               


  <div class="block cta-block">
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            
            <h3>Flexible Packages for All Price Points</h3>
            <h4>Size really doesn't matter! Whether you are a small start up or a multi national corporation, you will find a package that suits you budget.</h4>
            
            <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat tincidunt leo, id dictum tortor consequat eget. Nulla vulputate magna elit, ut imperdiet risus vulputate vel. Pellentesque convallis condimentum magna, ut fermentum turpis fringilla vitae. 
            </p>
            
            <p>
                Praesent at lacus facilisis, consequat lectus nec, accumsan enim. Maecenas lacinia, ligula sit amet bibendum venenatis, felis ex scelerisque lacus, nec rhoncus nisl velit volutpat urna.
            </p>
            
            <ul class="feature-list">
                <li>Integer at aliquam ipsum. Nam accumsan velit</li>
                <li>At lectus facilisis convallis. Nullam</li>
                <li>At nulla vel mauris bibendum porta</li>
                <li>Vitae at felis. Vivamus placerat</li>
                <li>Tincidunt turpis id tincidunt.</li>
                <li>Sed id mauris vel purus</li>
                <li>Sodales scelerisque.</li>
            </ul>
            
            
            
        </div>
    </div>
  </div>



   




  <div class="block join">
    <div class="container-fluid">
        <a href="#" class="big-cta">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
             CHECK OUT PRICING AND PACKAGES
        </a>
   </div>
  </div>

  <!-- <div class="block footer">
    <div class="container">        
    </div>
  </div> -->

  <div class="clearfix"></div>
</div>
<br><br><br><br><br><br>
    <footer class="footer"></footer>