/**
 * Bootstrap SASS Variables
 */
/* Colors */
$brand-yellow: #ffde64;
$brand-primary: $brand-yellow;

$link-hover-color: #111;
$component-active-color: #111;

/* Buttons */
$btn-primary-color: #111;

/* Navbar */
$navbar-default-color: #fff;
$navbar-default-bg: #111;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: #333;
$navbar-default-link-hover-bg: #fff;
$navbar-default-link-hover-color: #333;

/**
 * Bootstrap/Fontawesome
 */
$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:100,200,300,300i,700|Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  // font-family: 'Open Sans', sans-serif;
}

.glyphicon.spinning {
    animation: spin .3s infinite linear;
    -webkit-animation: spin2 .3s infinite linear;
}

// div.main-view {
//   margin-top: 51px;
// }

td.medium-date {
  width: 100px;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.navbar {
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  cursor: default;
}



.person-picture {
  font-size: 5em;
  border: 1px solid grey;
  padding: 20px;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin.agency/admin.agency.add/admin.agency.add';
@import 'admin/admin.agency/admin.agency.edit/admin.agency.edit';
@import 'admin/admin.agency/admin.agency';
@import 'admin/admin.dashboard/admin.dashboard';
@import 'admin/admin';
@import 'admin/admin.users/admin.users.add/admin.users.add';
@import 'admin/admin.users/admin.users.edit/admin.users.edit';
@import 'admin/admin.users/admin.users';
@import 'agency/agency.dashboard/agency.dashboard';
@import 'agency/agency.new-entry/agency.new-entry';
@import 'agency/agency.reports/agency.reports';
@import 'agency/agency';
@import 'forms';
@import 'landing/landing';
@import 'main/main';
@import 'search-person/search-person';
@import '../components/claim/claims';
@import '../components/claim/view-claim-route/view-claim';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
@import '../components/sidebar/sidebar';
/* endinject */
