<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
      <a href="/" class="navbar-brand">
        <!-- <img src="assets/images/landing/lorem-sorem-greyscale.png" alt="I'm Yeoman" width="20"> -->
        <strong>blackbook</strong>
      </a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        
        <!-- <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li> -->

        <li ng-show="$ctrl.hasRole('admin')" ui-sref-active="active"><a ui-sref="admin.dashboard">Dashboard</a></li>

        <li ng-show="$ctrl.hasRole('admin')" ui-sref-active="active"><a ui-sref="admin.agency">Agencies</a></li> 
        <li ng-show="$ctrl.hasRole('admin')" ui-sref-active="active"><a ui-sref="admin.persons">Persons</a></li>
        <li ng-show="$ctrl.hasRole('admin')" ui-sref-active="active"><a ui-sref="admin.users">Users</a></li>
               
        <li ng-show="$ctrl.hasRole('admin')" ui-sref-active="active"><a ui-sref="search-person">Search Person</a></li>

        <li ng-show="$ctrl.hasRole('agency')" ui-sref-active="active"><a ui-sref="agency.dashboard">Dashboard</a></li>
        <li ng-show="$ctrl.hasRole('agency')" ui-sref-active="active"><a ui-sref="agency.reports">Reports</a></li>
        <!-- <li ng-show="$ctrl.hasRole('agency')" ui-sref-active="active"><a ui-sref="search-claim">Claims</a></li> -->
        <li ng-show="$ctrl.hasRole('agency')" ui-sref-active="active"><a ui-sref="search-person">Search Person</a></li>        
        <li ng-show="$ctrl.hasRole('agency') && $ctrl.$state.current.name == 'agency.new-entry'" ui-sref-active="active">
          <a ui-sref="agency.new-entry">
            <small><i class="glyphicon glyphicon-pencil"></i></small>&nbsp;
            New Entry
          </a>
        </li>

        <!-- <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
        <li ng-show="!$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">{{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
