
// td {
//   &.claim-status {
//     width: 110px;
//   }  
//   &.country {
//     width: 70px;
//   }
//   &.name {
//     min-width: 200px;
//   }
//   &.description {
//     min-width: 400px;
//   }
//   &.functions {
//     min-width: 130px;
//   }
// }
