
/* Hide for mobile, show later */
// .sidebar {
//   display: none;
//   // position: relative;
//   // display: block;
//   // padding: 20px;
// }
// @media (min-width: 768px) {
//   .sidebar {
//     // position: fixed;
//     top: 51px;
//     bottom: 0;
//     left: 0;
//     z-index: 1000;
//     display: block;
//     padding: 20px;
//     overflow-x: hidden;
//     overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
//     background-color: #f5f5f5;
//     border-right: 1px solid #eee;
//   }
// }


// /* Sidebar navigation */
// .nav-sidebar {
//   margin-right: -21px; /* 20px padding + 1px border */
//   margin-bottom: 20px;
//   margin-left: -20px;
// }
// .nav-sidebar > li > a {
//   padding-right: 20px;
//   padding-left: 20px;
// }
// .nav-sidebar > .active > a,
// .nav-sidebar > .active > a:hover,
// .nav-sidebar > .active > a:focus {
//   color: #fff;
//   background-color: #428bca;
// }
