
<!-- TODO: Finish this -->

<!-- <div class="row"> -->
  <div>
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Pending Entries</a></li>        
    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="#">New Entry</a></li>
      <li><a href="">Search</a></li>
    </ul>
    <!-- <ul class="nav nav-sidebar">
      <li><a href="">ssssssss</a></li>
    </ul> -->
  </div>
<!-- </div> -->

<!-- SAMPLE -->
<!-- <div class="row">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 ">

    CONTENT HERE 

    </div>

</div> -->