
<div class="container view-claim-container">

  <div class="row">

    <div class="col-md-12">

      <small><button backbutton>&lt; back</button></small><br><br>

      <div class="col-md-4 text-center">

        <i class="person-picture glyphicon-user glyphicon"></i>
        <h4> {{vm.claim.person.firstname}} {{vm.claim.person.middlename}} {{vm.claim.person.lastname}}</h4>

      </div>

      <form class="form-horizontal col-md-8">
        <div class="form-group">
          <label class="col-md-4 control-label">File Date</label>
          <div class="col-md-8">
            <p class="form-control-static">{{vm.claim.filedate | date:mediumdate}}</p>
          </div>
          <label class="col-md-4 control-label">Loss Date</label>
          <div class="col-md-8">
            <p class="form-control-static">{{vm.claim.lossdate | date:mediumdate}}</p>
          </div>
          <label class="col-md-4 control-label">Claim status</label>
          <div class="col-md-8">
            <p class="form-control-static">{{vm.claim.claimstatus}}</p>
          </div>
          <label class="col-md-4 control-label">Peril</label>
          <div class="col-md-8">
            <p class="form-control-static">{{vm.claim.peril}}</p>
          </div>
          <label class="col-md-4 control-label">Country</label>
          <div class="col-md-8">
            <p class="form-control-static">{{vm.claim.country}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Claim Amount</label>
          <div class="col-md-8">
            <p class="form-control-static">{{vm.claim.claimamount | currency:vm.claim.claimcurrency + ' '}}</p>
          </div>
          <label class="col-md-4 control-label">Paid Amount</label>
          <div class="col-md-8">
            <p class="form-control-static">{{vm.claim.paidamountphp | currency:'PHP '}}</p>
          </div>
          <label class="col-md-4 control-label"></label>
          <div class="col-md-8">
            <p class="form-control-static">{{vm.claim.paidamountusd | currency:'USD '}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Description</label>
          <div class="col-md-8">
            <p class="form-control-static">{{vm.claim.description}}</p>
          </div>
          <label class="col-md-4 control-label">Remarks</label>
          <div class="col-md-8">
            <p class="form-control-static">{{vm.claim.remarks}}</p>
          </div>
        </div>
      </form>

    </div>

  </div>

</div>