<script type="text/ng-template" id="customTemplate.html">
  <a class="custom-typeahead-item">
      <!-- <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16"> -->
      <i class="glyphicon glyphicon-user"></i>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<div class="container search-container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-4">
      <h1 class="text-center">Search Person</h1>   <br>         
      <form class="form search-person" name="searchForm">
        <div class="form-group">          
          <input type="text" ng-model="searchName" placeholder="first/last name" 
            uib-typeahead="person as person.firstname+' '+person.middlename+' '+person.lastname for person in vm.searchPerson($viewValue)" 
            typeahead-wait-ms="500" typeahead-min-length="2" typeahead-loading="loadingLocations" typeahead-template-url="customTemplate.html" 
            typeahead-no-results="noResults" typeahead-on-select="vm.onSelectName($model)" 
            class="form-control name">
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh typeahead-loading spinning"></i>
        </div>
        <p class="no-results" ng-show="noResults">&nbsp;&nbsp;&nbsp;
          <i class="glyphicon glyphicon-eye-close"></i> No Results Found
        </p>
      </form>    
    </div>
  </div>

  <hr>
  <div class="row" ng-show="vm.selectNameFlag && !noResults">
    <div class="col-sm-12 col-md-4 col-md-offset-4 text-center">
      <p><i class="person-picture glyphicon glyphicon-user"></i><br></p>
      <h2>{{vm.person.firstname}} {{vm.person.middlename}} {{vm.person.lastname}}</h2>      
      <span>Birthdate</span>
      <strong>{{vm.person.birthdate | date:mediumDate}}</strong>      
    </div> 
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="person-other-claims" ng-show="!vm.addPersonFlag && vm.selectNameFlag && !noResults">
        <h4>Past Claims</h4>

        <i ng-show="vm.loadingClaims" class="glyphicon glyphicon-refresh spinning loading-claims"></i>

        <table class="table table-striped table-condensed claims-table">
          <tr>              
            <th>Claim Status</th>
            <th>File Date</th>
            <th>Loss Date</th>
            <th>Country</th>
            <th>Description</th>
            <th>Claim Amount</th>
            <th>Paid Amount (Php)</th>                      
            <th>Paid Amount (USD)</th>
            <th></th>
          </tr>
          <tr ng-repeat="claim in vm.person.claims">                      
            <td class="claim-status">{{claim.claimstatus}}</td>
            <td class="medium-date">{{claim.filedate | date:'mediumDate'}}</td>
            <td class="medium-date">{{claim.lossdate | date:'mediumDate'}}</td>
            <td>{{claim.country}}</td>
            <td class="description">{{claim.description | limitTo: 50}}</td>
            <td>{{claim.claimamount | currency:claim.claimcurrency + ' '}}</td>
            <td>{{claim.paidamountphp | currency:'Php '}}</td>
            <td>{{claim.paidamountusd | currency:'USD '}}</td>              
            <td>
              <button class="btn btn-default btn-xs" ui-sref="view-claim({id: claim._id})">
                <span class="glyphicon glyphicon-eye-open"></span>
                View
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

      
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
