.uib-typeahead-match {
  .custom-typeahead-item {
    font-size: 1.1em;
    padding: 1em;
    cursor: pointer;
  }
}

.search-container {
  .typeahead-loading {
    position: absolute;
    top: 100px;
    left: -5px;
  }
}

.search-container {
  .loading-claims {
    position: absolute;
    top: 12px;
    left: 120px;
  }
}