<div class="container">
  
  <div class="row">
    
    <div class="col-md">
      
      <h2>Admin Dashboard</h2>
      <hr>

      <list-claims claims="vm.pendingClaims" options="vm.pendingClaimsListOptions"></list-claims>

      <list-claims claims="vm.approvedClaims" options="vm.approvedClaimsListOptions"></list-claims>

    </div>

  </div>

</div>