<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <!-- {{vm.claims[0].status == 'Pending' ? 'Pending Claims' : 'Recognized Claims'}} -->
      {{vm.options.type}} Claims
    </h3>
  </div>
  <div class="panel-body">
    <p ng-if="vm.claims.length < 1"><strong>None</strong></p>
    <table class="table table-striped table-condensed claims-table" ng-if="vm.claims.length > 0">
      <tr>
        <th>Agency</th>
        <th>Name</th>
        <th>Claim Status</th>
        <th>File Date</th>
        <th>Loss Date</th>
        <th>Country</th>
        <!-- <th>Description</th> -->

        <th>Claim Amount</th>
        <th colspan="2">Paid Amount</th>        

        <th><!-- functions --></th>
      </tr>
      <tr ng-repeat="claim in vm.claims">
        <td>{{claim.agency.name}}</td>
        <td class="name">{{claim.person.firstname}} {{claim.person.middlename[0] | uppercase }}. {{claim.person.lastname}}</td>
        <td class="claim-status">{{claim.claimstatus}}</td>
        <td class="medium-date">{{claim.filedate | date:'mediumDate'}}</td>
        <td class="medium-date">{{claim.lossdate | date:'mediumDate'}}</td>
        <td>{{claim.country}}</td>
        <!-- <td class="description">{{claim.description | limitTo: 50}}</td> -->

        <td>{{claim.claimamount | currency:claim.claimcurrency + ' '}}</td>
        <td>{{claim.paidamountphp | currency:'PHP '}}</td>
        <td>{{claim.paidamountusd | currency:'USD '}}</td>

        <td class="functions" ng-show="vm.claims[0].status === 'Pending' && vm.options.role === 'agency'">
          <button class="btn btn-default btn-xs" disabled>
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
          </button>
          <button class="btn btn-default btn-xs" disabled>
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
          </button>
        </td>
        <td class="functions" ng-show="vm.claims[0].status === 'Pending' && vm.options.role === 'admin'">
          <button class="btn btn-default btn-xs" confirm="Are you sure?" ng-click="vm.accept(claim._id)">
            <span class="glyphicon glyphicon-ok"></span>
              Accept
          </button>
          <button class="btn btn-default btn-xs" confirm="Are you sure?" ng-click="vm.dismiss(claim._id)">
            <span class="glyphicon glyphicon-remove"></span>
              Dismiss
          </button>
        </td>
        <td class="functions" ng-show="vm.claims[0].status === 'Approved'">
          <button class="btn btn-default btn-xs" ui-sref="view-claim({id: vm.claims[0]._id})">
            <span class="glyphicon glyphicon-eye-open"></span>
            View
          </button>
        </td>
        <!-- <td>{{agency.evaluation}}</td> -->
      </tr>
    </table>
  </div>
</div>